# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# PyCharm / IDE
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Data / models (optional – wenn du sie nicht mit pushen willst)
# data/
# *.h5
# *.pb
# *.tflite
# mnist_cnn/
